[Unit]
Description=the Ant Clock
After=multi-user.target

[Service]
Type=idle
User=root
ExecStart=/home/austin/src/pixelclock/ants/antclock.sh

[Install]
WantedBy=multi-user.target
