[Unit]
Description=the Pixel Clock
After=multi-user.target

[Service]
Type=idle
User=root
ExecStart=/home/austin/src/pixelclock/fraggles/pixelclock.sh

[Install]
WantedBy=multi-user.target
