[Unit]
Description=WX Custom Startup Script
After=network.target

[Service]
ExecStart=/home/austin/wx.sh
User=austin
Group=austin
Restart=on-failure

[Install]
WantedBy=multi-user.target
